@use "../../../scss";

.product {
  max-width: 44rem;
  margin: 0 auto;

  @include scss.tablet-layout() {
    padding: 4rem 0;
  }

  @include scss.desktop-layout() {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 90rem;
    padding: 8rem 0 6rem;
  }

  &__wrapper {
    @include scss.columnGap(2rem);

    padding: 1rem 2rem 4rem;

    @include scss.tablet-layout() {
      padding: 6rem 2rem;
    }

    @include scss.desktop-layout() {
      padding: 0;
    }
  }

  &__content {
    @include scss.columnGap(1rem);
  }

  &__brand {
    letter-spacing: 0.3px;
    color: scss.$orange;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;

    @include scss.desktop-layout() {
      font-size: 1.7rem;
    }
  }

  &__title {
    font-size: 3.6rem;
  }

  &__description {
    color: scss.$dark-grayish-blue;
    font-size: 1.6rem;
    line-height: 1.4;
  }
}
