@use "../../../scss";

.header {
  background-color: scss.$light;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);

  @include scss.desktop-layout() {
    box-shadow: none;
    padding: 0 1rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 440px;
    margin: 0 auto;
    padding: 1.4rem 1.6rem;

    @include scss.tablet-layout() {
      max-width: 800px;
    }

    @include scss.desktop-layout() {
      max-width: 1000px;
      padding: 3rem 0;
      border-bottom: 1px solid scss.$grayish-blue;
    }
  }

  &__logoMenu {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include scss.desktop-layout() {
      gap: 3rem;
    }

    &--menu {
      @include scss.tablet-layout() {
        display: none;
      }

      @include scss.desktop-layout() {
        display: none;
      }
    }

    &--menu,
    &--logo {
      line-height: 1;
    }

    &--menu img {
      width: 1.8rem;
      height: 1.8rem;
    }

    &--logo img {
      width: 100%;
      height: auto;
    }

    &--links {
      display: none;
      list-style: none;
      gap: 2rem;
      font-size: 1.5rem;
      a:link,
      a:visited {
        color: scss.$dark;
        text-decoration: none;
      }

      @include scss.tablet-layout() {
        display: flex;
        gap: 1.6rem;
      }

      @include scss.desktop-layout() {
        display: flex;
      }
    }
  }

  &__cartAccount {
    display: flex;
    align-items: center;
    gap: 2.6rem;
    // width: 300px;

    &--cart,
    &--account {
      line-height: 1;
    }

    &--cart {
      cursor: pointer;
      position: relative;

      span {
        position: absolute;
        top: -0.6rem;
        right: -1.4rem;
        border-radius: 100px;
        color: scss.$light;
        background-color: scss.$orange;
        padding: 0.4rem 0.9rem;
        font-weight: 700;
      }

      img {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    &--account {
      cursor: pointer;
      width: 3.9rem;
      border: 3.5px solid scss.$orange;
      border-radius: 100px;

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
