.header {
  background-color: #fff;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 1000px) {
  .header {
    box-shadow: none;
    padding: 0 1.6rem;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 440px;
  margin: 0 auto;
  padding: 1.4rem 1.6rem;
}
@media only screen and (min-width: 1000px) {
  .header__wrapper {
    max-width: 1000px;
    padding: 3rem 0;
    border-bottom: 1px solid hsl(220deg, 14%, 75%);
  }
}
.header__logoMenu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media only screen and (min-width: 1000px) {
  .header__logoMenu {
    gap: 3rem;
  }
}
@media only screen and (min-width: 1000px) {
  .header__logoMenu--menu {
    display: none;
  }
}
.header__logoMenu--menu, .header__logoMenu--logo {
  line-height: 1;
}
.header__logoMenu--menu img {
  width: 1.8rem;
  height: 1.8rem;
}
.header__logoMenu--logo img {
  width: 100%;
  height: auto;
}
.header__logoMenu--links {
  display: none;
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
}
.header__logoMenu--links a:link,
.header__logoMenu--links a:visited {
  color: hsl(0deg, 0%, 20%);
  text-decoration: none;
}
@media only screen and (min-width: 1000px) {
  .header__logoMenu--links {
    display: flex;
  }
}
.header__cartAccount {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__cartAccount--cart, .header__cartAccount--account {
  line-height: 1;
}
.header__cartAccount--cart img {
  width: 2.2rem;
  height: 2.2rem;
}
.header__cartAccount--account img {
  width: 3rem;
  height: 3rem;
}