@import "../../scss/variables";
@import "../../scss/mixin";

.product {
  max-width: 44rem;
  margin: 0 auto;

  @include desktop-layout() {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 90rem;
    padding: 8rem 0 6rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem 4rem;

    @include desktop-layout() {
      padding: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__brand {
    letter-spacing: 0.3px;
    color: $orange;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;

    @include desktop-layout() {
      font-size: 1.7rem;
    }
  }

  &__title {
    font-size: 3.6rem;
  }

  &__description {
    color: $dark-grayish-blue;
    font-size: 1.6rem;
    line-height: 1.4;
  }
}
