@import "../../scss/variables";
@import "../../scss/mixin";

.productDeal {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include desktop-layout() {
    gap: 3.2rem;
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop-layout() {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  &__salePrice {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }

  &__sale {
    font-size: 2.5rem;
    font-weight: 700;
  }

  &__percent {
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.2rem 0.6rem;
    background-color: $pale-orange;
    color: $orange;
  }

  &__oldPrice {
    color: $grayish-blue;
    font-size: 1.5rem;
    font-weight: 700;
  }

  //   Form styles

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include desktop-layout() {
      flex-direction: row;
      gap: 1.6rem;
    }

    button {
      cursor: pointer;
      padding: 1.4rem 1rem;
      border: none;
    }

    &--submit {
      display: flex;
      justify-content: center;
      gap: 1.2rem;
      color: $light;
      font-size: 1.5rem;
      border-radius: 9px;
      background-color: $orange;
      box-shadow: 0px 14px 40px 0px rgba(255, 125, 26, 0.4);

      @include desktop-layout() {
        flex-basis: 65%;
      }

      img {
        gap: 1rem;
        width: 1.4rem;
        height: 1.4rem;
      }

      &:hover {
        background-color: lighten($orange, 10%);
      }
    }
  }

  &__counts {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 6px;
    overflow: hidden;

    @include desktop-layout() {
      flex-basis: 35%;
    }

    button {
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: 0;
    }

    span {
      color: $very-dark-blue;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
      flex-grow: 10;
      flex-basis: 0;
    }
  }
}
