@use "./scss";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: scss.$dark;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

#cart-container {
  position: relative;
  margin: 0 auto;

  @include scss.tablet-layout {
    max-width: 80rem;
  }

  @include scss.desktop-layout {
    max-width: 100rem;
  }
}
